<section class="box">

  <div class="box-header">
    <div class="left">
      <ss-icon
        iconName="book"
        color="alt"
        [size]="24"
        [iconVariant]="20">
      </ss-icon>
      <span class="text">{{'label.Subjects' | translate}}</span>
    </div>
    <div class="right">
      <div class="search">
        <ss-select
          id="department-id"
          name="departmentId"
          placeholder="Search By Department"
          [options]="departments"
          labelProperty="naziv"
          valueProperty="id"
          [(ngModel)]="departmentId"
          (selectionChange)="departmentFilterChanged()">
        </ss-select>

        <ss-input
          name="searchTerm"
          [(ngModel)]="searchTerm"
          placeholder="Search">
        </ss-input>
      </div>
    </div>
  </div>

  <div class="divider"></div>

  <div class="no-entries-message" *ngIf="!loading && !getSubjects().length">
    {{'label.There are no subjects yet.' | translate}}
    <a (click)="openSubjectModal(null, $event)">
      {{'label.Create the first one.' | translate}}
    </a>
  </div>

  <div
    class="no-entries-message"
    *ngIf="subjects.length && !getSubjects().length && !loading">
    {{'label.No Results.' | translate}}
  </div>

  <div class="ss-table" *ngIf="getSubjects().length">
    <section class="header">
      <div class="row responsive-card">
        <div class="cell name" (click)="sortBy('naziv')">
          <span class="text">{{'label.Name' | translate}}</span>
          <mat-icon class="icon-sort" *ngIf="currentSortOption === 'naziv'">
            {{currentSortIsDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
          </mat-icon>
        </div>
        <div class="cell name" (click)="sortBy('espb')">
          <span class="text">ESPB</span>
          <mat-icon class="icon-sort" *ngIf="currentSortOption === 'espb'">
            {{currentSortIsDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
          </mat-icon>
        </div>
        <div class="cell name" (click)="sortBy('sifra')">
          <span class="text">{{'label.Code' | translate}}</span>
          <mat-icon class="icon-sort" *ngIf="currentSortOption === 'sifra'">
            {{currentSortIsDescending ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
          </mat-icon>
        </div>
        <div class="cell actions">
          <div
            class="action blue last"
            role="button"
            (click)="openSubjectModal(null, $event)">
            <mat-icon>add</mat-icon>
          </div>
        </div>
      </div>

      <div class="sorter has-action">
        <mat-form-field class="ss-select">
          <mat-select [ngModel]="currentSortOption" (ngModelChange)="sortBy($event)">
            <mat-option value="naziv">{{'label.Name' | translate}}</mat-option>
            <mat-option value="espb">ESPB</mat-option>
            <mat-option value="sifra">{{'label.Code' | translate}}</mat-option>
          </mat-select>
        </mat-form-field>

        <span
          class="icon-sort"
          [class.desc]="currentSortIsDescending"
          role="button"
          (click)="currentSortIsDescending = !currentSortIsDescending">
        </span>
      </div>
    </section>
    <section class="body">
      <div
        *ngFor="let subject of getSubjects()"
        class="row responsive-card">

        <div class="cell name">
          {{ subject.naziv }}
        </div>

        <div class="cell name">
          {{ subject.espb }}
        </div>

        <div class="cell name">
          {{ subject.sifra }}
        </div>

        <div class="cell actions">
          <div
            class="action blue responsive-in-dropdown"
            role="button"
            (click)="openSubjectModal(subject, $event)">
            <mat-icon class="small">edit</mat-icon>
          </div>

          <div
            class="action last"
            role="button"
            (click)="detailsDropdown.toggle(subject, $event)">
            <mat-icon>more_vert</mat-icon>
          </div>

          <ss-dropdown
            class="longer"
            *ngIf="detailsDropdown.shown && detailsDropdown.activeSubject === subject"
            [shown]="detailsDropdown.shown"
            (closed)="detailsDropdown.close()">

            <div class="ss-dropdown-item responsive" (click)="openSubjectModal(subject, $event)">
              Edit
            </div>
          </ss-dropdown>

          <div class="dropdown-divider responsive"></div>

          <ss-dropdown
            class="longer"
            *ngIf="detailsDropdown.shown && detailsDropdown.activeSubject === subject"
            [shown]="detailsDropdown.shown"
            (closed)="detailsDropdown.close()">

            <div class="ss-dropdown-item" (click)="openRemoveConfirmModal(subject, $event)">
              {{'label.Delete' | translate}}
            </div>
          </ss-dropdown>
        </div>
      </div>
    </section>
  </div>
</section>
