// These are media query variables used for responsive/adaptive implementation
$m-phone: 'only screen and (max-width: 600px)';
$phone: 'only screen and (max-width: 767px)';
$tablet: 'only screen and (max-width: 1024px)';
$s-tablet: 'only screen and (max-width: 860px)';
$laptop: 'only screen and (max-width: 1279px)';
